html, body {
    margin: 0;
    height: 100%;
}

.page {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
}

.header {
    background-color: #223354;
    color: white;
    grid-column: 1 / 3;
}

.sidebar {
    background-color: #EBEBEB;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.book {
    background-color: #F38A1D;
    color: white;
}